body{
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: coral;
    border-bottom: 2px solid rgb(94, 25, 0);
    box-shadow: 20px 25px solid   rgb(0, 255, 0);
}

.logo{
    height: 60px;
}

.button{
    border: 0px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bolder;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.mainButton{
    background-color: coral;
    color: #fff;
}

.mainButton:hover{
    box-shadow: 2px 2px rgb(255, 238, 6);
}

.secButton{
    background-color: aquamarine;
    color: #fff;    
}

.secButton:hover{
    box-shadow: 2px 2px rgb(144, 100, 173);
}

.buscar{
    background-color: white;
    border: 1px solid gray;
    padding: 3px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar:focus-within{
    border: 2px solid indigo;
}

.buscar > input{
    outline: none;
    border: 0px;
}

.navbar > li{
    display: flex;
    align-items: center;
}

.iconBusqueda:hover{
    color: rgb(34, 48, 255);
}

h1{
    color: tomato;
    display: flex;
    justify-content: center;
}

.estadisticas{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.iconEstadistica:hover{
    color: whitesmoke;
    cursor: pointer;
}

.contenedorImagen{
    width: 192px;
    height: 263px;
    display: flex;
    margin-bottom: 10px;
}

.contenedorImagen:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.contenedorImagen > img{
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.breedCard{
    margin: 10px;
    background-color: rgb(0, 82, 18);
    box-shadow: 5px 5px 5px darksalmon;
    border-radius: 15px;
}

.breedTittle{
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: x-large;
}

.breedCardContainer{
    display: flex;
}